/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






















@font-face {
    font-family: vazir;
    src: url(fonts/vazir-font-v16.1.0/Vazir.ttf),
        url(fonts/vazir-font-v16.1.0/Vazir.woff2),
        url(fonts/vazir-font-v16.1.0/Vazir.woff);
}

@font-face {
    font-family: vazir-bold;
    src: url(fonts/vazir-font-v16.1.0/Vazir-Bold.ttf),
        url(fonts/vazir-font-v16.1.0/Vazir-Bold.woff),
        url(fonts/vazir-font-v16.1.0/Vazir-Bold.woff2);
}

@font-face {
    font-family: vazir-light;
    src: url(fonts/vazir-font-v16.1.0/Vazir-Light.ttf),
        url(fonts/vazir-font-v16.1.0/Vazir-Light.woff),
        url(fonts/vazir-font-v16.1.0/Vazir-Light.woff2);
}

@font-face {
    font-family: vazir-medium;
    src: url(fonts/vazir-font-v16.1.0/Vazir-Medium.ttf),
        url(fonts/vazir-font-v16.1.0/Vazir-Medium.woff),
        url(fonts/vazir-font-v16.1.0/Vazir-Medium.woff2);
}

@font-face {
    font-family: vazir-thin;
    src: url(fonts/vazir-font-v16.1.0/Vazir-Thin.ttf),
        url(fonts/vazir-font-v16.1.0/Vazir-Thin.woff),
        url(fonts/vazir-font-v16.1.0/Vazir-Thin.woff2);
}

.top-section {
    background: url(files/Subtract.svg) no-repeat;
    width: 100vw;
    height: 760px;
}

.header {
    display: flex;
    padding: 4vh 0;
    justify-content: space-around;
    /* gap: 20vw; */
}

.menu {
    display: flex;
    gap: 5vw;
}

.menu-link {
    display: block;
    font-family: vazir-bold;
    text-decoration: none;
    color: black;
}

.logo-text {
    font-family: vazir-bold;
    font-size: 1.1em;
}

.icon-search {
    width: 20px;
    height: 20px;
}

.section1 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.section1-left {
    width: 45%;
}

.section1-left-orginal {
    width: 40vw;
    margin: 10vh auto;
}

.section1-h1 {
    font-family: vazir-bold;
    font-size: 2.5em;
    line-height: 1.5em;
    margin-bottom: 5vh;
}

.section1-btn {
    background-color: rgb(62, 160, 62);
    border: 0;
    border-radius: 50px;
    padding: 0.75em 2.5em;
    color: white;
    font-family: vazir;
    margin-top: 5vh;
}

.section2-h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.section2-box {
    width: 18vw;
    padding: 3vh 2vw;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 30px;
    display: grid;
    justify-content: center;
}

.section2-box-clicks {
    width: 18vw;
    padding: 3vh 2vw;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 30px;
    display: grid;
    justify-content: center;
    background-color: green;
}

.section2-box-icon {
    border-radius: 100%;
    margin: auto;
    padding: 2vh;
    width: 15%;
}

.section2-box-text {
    color: rgb(80, 80, 80); 
    text-align: center;
    line-height: 2em;
}

.section3 {
    display: flex;
    justify-content: space-around;
}

.section3-right {
    width: 50vw;
    padding: 15vh 0;
}

.section3-right-text-list {
    margin: auto 0.5vw;
}

.section3-h1 {
    font-size: 2em;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.text {
    font-family: vazir;
    color: rgb(87, 87, 87);
    line-height: 2em;
}

.vazir-b {
    font-family: vazir-bold;
}

.vazir {
    font-family: vazir;
}